@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  width: 1100wh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527)), to(rgba(0, 0, 0, 0.5))), url(../img/gears1.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/gears1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 8%;
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
  /* Add a background color and some padding around the form */
}

.header .left {
  padding-top: 5rem;
}

.header .left h2 {
  color: white;
  display: block;
  padding-left: 10%;
  padding-top: 8%;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 1.2;
}

.header .left p {
  color: white;
  font-size: 1.2rem;
  padding-left: 10%;
  width: 26rem;
}

.header #name, .header #email, .header #phone, .header select, .header textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 15px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

.header input[type=submit] {
  background-color: #376e9d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header input[type=submit]:hover {
  background-color: #24537c;
}

.header .container {
  max-width: 400px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 2rem;
  color: #858585;
}

.header .container h2 {
  padding: 10px;
  margin: auto;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
}

.top-bar {
  background-color: #f2f2f2;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888888;
  padding: 0 8%;
  font-size: .875rem;
}

.mob-menu {
  display: none;
  /* background-color: whitesmoke;
    width: 100%;
    height: 100px; */
}

.btn {
  position: absolute;
  top: 25px;
  right: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #376e9d;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.btn.click {
  /* left: 260px; */
  right: 45px;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before {
  content: '\f00d';
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: whitesmoke;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
  padding-left: 0px;
  opacity: 1;
}

.sidebar.show {
  left: 0px;
}

.sidebar ul {
  background: whitesmoke;
  height: 100%;
  width: 100%;
  list-style: none;
}

.sidebar ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar ul li a {
  position: relative;
  /*     color: white; */
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 200px;
  border-left: 3px solid transparent;
}

.sidebar ul li.active a {
  color: #376e9d;
  border-left-color: #376e9d;
}

/*   .sidebar ul li a:hover{
    background: #1e1e1e;
  } */
.sidebar ul ul {
  position: static;
  display: none;
}

.sidebar ul .serv-show.show {
  display: block;
}

.sidebar ul .about-show.show1 {
  display: block;
  width: 200px;
}

.sidebar ul .prod-show.show2 {
  display: block;
  width: 200px;
}

.sidebar ul ul li {
  line-height: 42px;
  border-top: none;
}

.sidebar ul ul li a {
  font-size: 17px;
  color: black;
  padding-left: 60px;
}

.sidebar ul li.active ul li a {
  color: black;
  border-left-color: transparent;
}

.sidebar ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.sidebar ul li a span.rotate {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 600;
}

.content p {
  font-size: 30px;
  font-weight: 500;
}

nav {
  z-index: 10;
  background-color: white;
  opacity: .9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 8%;
  max-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

nav > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

nav .logo-txt {
  display: block;
  font-size: 1.4rem;
  font-family: 'PT Serif', serif;
  margin: auto;
  color: black;
}

.logo {
  max-width: 6rem;
  height: auto;
  margin-top: -1rem;
  margin-bottom: -1.8rem;
}

/* .nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-left:  1.2rem;
    position:  relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.nav-links ul li a:hover{
    color: rgb(133, 133, 231);
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background-color: rgb(133, 133, 231);
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
 */
/* .hero-img img{
    max-width: 100%;
    height: auto;
} */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background-color: #376e9d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background-color: #376e9d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown .dropbtn:hover::after {
  width: 100%;
}

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(133, 133, 231);
  } */
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.title {
  display: block;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.title::after {
  content: '';
  width: 10%;
  height: 2px;
  display: block;
  margin-top: 0.5rem;
  background-color: #376e9d;
}

.top-img {
  width: 100%;
  height: 180px;
  background-image: url("../img/stripeImage_3-1.png");
}

.top-img .top-txt {
  position: relative;
  display: block;
  left: 13%;
  top: 35%;
  font-size: 1.6rem;
  font-weight: 500;
}

.top-img .top-txt::after {
  content: '';
  width: 5rem;
  height: 2px;
  display: block;
  margin-top: 0.5rem;
  background-color: #376e9d;
}

.mid {
  padding: 6% 12%;
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
  /* Add a background color and some padding around the form */
}

.mid .mid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid .mid-info .left {
  padding-right: 2rem;
}

.mid .mid-info .left .side-nav-bar {
  width: 300px;
  background-color: whitesmoke;
  /*   height: 200px; */
  border-radius: 2px;
  padding: 2rem;
}

.mid .mid-info .left .side-nav-bar h3 {
  display: block;
  color: grey;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

.mid .mid-info .left .side-nav-bar ul {
  list-style: none;
}

.mid .mid-info .left .side-nav-bar ul li {
  font-size: .9rem;
  display: block;
  padding: .8rem 0;
  /*    border-bottom: 1px solid #d1d1d1; */
}

.mid .mid-info .left .side-nav-bar ul li a {
  color: #376e9d;
  text-decoration: none;
}

.mid .mid-info .left .side-nav-bar ul li i {
  color: #376e9d;
  padding-right: 1rem;
}

.mid .mid-info .left .side-nav-bar ul hr {
  border-style: none;
  border-bottom: 1px solid #d1d1d1;
}

.mid .mid-info .left .contact-cta {
  border-radius: 2px;
  padding: 2rem;
  margin-top: 2rem;
  width: 300px;
  background-color: whitesmoke;
}

.mid .mid-info .left .contact-cta h3 {
  display: block;
  color: grey;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

.mid .mid-info .left .contact-cta p {
  display: block;
  padding-bottom: 1.2rem;
  color: #376e9d;
}

.mid .mid-info .left .contact-cta .cta {
  text-decoration: none;
  background-color: #376e9d;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
}

.mid .mid-info .left .contact-cta .cta:hover {
  background-color: #24537c;
}

.mid .mid-info .right {
  width: 100%;
}

.mid .mid-info .right .right-container {
  padding-bottom: 5rem;
  line-height: 24px;
}

.mid .mid-info .right .right-container .img-container {
  background-image: url("../img/AboutUs.jpg");
  height: 450px;
  width: 100%;
  background-color: whitesmoke;
}

.mid .mid-info .right .right-container .txt-desc {
  display: block;
  padding-top: 2rem;
  color: grey;
  font-size: .9rem;
}

.mid .mid-info .right .right-container .box {
  background-color: whitesmoke;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.mid .mid-info .right .right-container .box h3 {
  display: block;
  padding: 1rem;
  padding-top: 0;
  font-weight: normal;
  color: #636363;
}

.mid .mid-info .right .right-container .box hr {
  border-style: none;
  border-bottom: 1px solid #d1d1d1;
}

.mid .mid-info .right .right-container .box .inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mid .mid-info .right .right-container .box .inner-box ul {
  padding: 2rem;
  width: 50%;
  color: grey;
}

.mid .mid-info .right .right-container .box .inner-box ul li {
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
}

.mid .mid-info iframe {
  width: 800px;
  height: 450px;
}

.mid .mid-info .mid-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
  padding: 0 1rem;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 2px;
  color: #3b3b3b;
}

.mid .mid-info .mid-contact .mid-contact-box:last-child {
  border: none;
}

.mid .mid-info .mid-contact .mid-contact-box {
  padding: 2rem 2rem;
  border-bottom: 1px dotted lightgray;
}

.mid .mid-info .mid-contact .mid-contact-box h3 {
  display: block;
  padding-bottom: 1rem;
}

.mid .mid-info .mid-contact .mid-contact-box i {
  margin-left: -2rem;
  padding-right: 1rem;
}

.mid .mid-info .mid-contact .mid-contact-box p {
  color: gray;
  font-size: .85rem;
}

.mid #name, .mid #email, .mid #phone, .mid select, .mid textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 15px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

.mid input[type=submit] {
  background-color: #376e9d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mid input[type=submit]:hover {
  background-color: #24537c;
}

.mid .container {
  max-width: 770px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2rem;
  margin-top: 2rem;
  color: #858585;
}

.mid .container h2 {
  padding: 10px;
  margin: auto;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
}

.mid .outer-box {
  min-width: 70%;
}

.mid .outer-box .info-blocks {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mid .outer-box .info-blocks .block {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 350px;
}

.mid .outer-box .info-blocks .block .block-img {
  overflow: hidden;
  width: 350px;
}

.mid .outer-box .info-blocks .block .block-img img {
  width: 100%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.mid .outer-box .info-blocks .block .block-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /*                 transform: translateX(5%); */
}

.mid .outer-box .info-blocks .block .sub {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.mid .outer-box .info-blocks .block p {
  padding-right: 0.6rem;
  color: #888888;
  font-size: .87rem;
}

.services {
  padding: 6% 12%;
  background-color: #f0f0f0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .outer-box {
  min-width: 70%;
}

.services .outer-box .info-blocks {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services .outer-box .info-blocks .block {
  max-width: 250px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services .outer-box .info-blocks .block .block-icon {
  width: 90px;
}

.services .outer-box .info-blocks .block .block-icon:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.services .outer-box .info-blocks .block .sub {
  padding: 2rem 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.services .outer-box .info-blocks .block p {
  padding-right: 0.6rem;
  color: #888888;
  font-size: .87rem;
}

.project {
  background: url(../img/img5.jpg) center;
  background-color: #242424;
  background-size: cover;
  padding: 6% 8%;
  /*  height: 12rem; */
  color: white;
}

.project h2 {
  padding: 2rem 0;
  font-size: 1.8rem;
}

.project input {
  padding: 5px 20px;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 3px;
  color: #376e9d;
  margin-top: 2rem;
  background-color: white;
}

.project input:hover {
  background-color: #376e9d;
  color: white;
}

.footer {
  background-color: whitesmoke;
  height: 300px;
  padding: 4% 12% 0 12%;
}

.footer .outer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .outer-box .logo-footer {
  width: 250px;
}

.footer .outer-box .logo-footer a {
  text-decoration: none;
}

.footer .outer-box .logo-footer a .logo-txt {
  font-size: 1.3rem;
  font-family: 'PT Serif', serif;
  color: #313131;
  color: #24537c;
}

.footer .outer-box .logo-footer p {
  font-size: .8rem;
  font-weight: lighter;
  color: gray;
}

.footer .outer-box .logo-footer hr {
  border-top: 1px solid #376e9d;
}

.footer .outer-box .info-footer {
  padding-left: 4rem;
  width: 300px;
}

.footer .outer-box .info-footer h3 {
  display: block;
  font-weight: 400;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: #4d4d4d;
}

.footer .outer-box .info-footer p {
  font-size: .8rem;
  color: gray;
}

.footer .outer-box .location-footer {
  width: 300px;
  padding-left: 2rem;
}

.footer .outer-box .location-footer h3 {
  display: block;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  color: #4d4d4d;
}

.footer .outer-box .location-footer p {
  font-size: .8rem;
  color: gray;
}

.bottom-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: grey;
  font-size: 0.7rem;
  background-color: #d4d4d4;
}

.bottom-foot a {
  text-decoration: none;
  color: grey;
}

.bottom-foot p {
  display: block;
  padding-left: 12%;
}

@media screen and (max-width: 1200px) {
  .mid .outer-box .info-blocks .block .block-img {
    width: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .desk-menu .navbar {
    display: none;
  }
  .mob-menu {
    display: inline-block;
  }
  .mid .outer-box .info-blocks .block .block-img {
    width: 200px;
  }
}

@media screen and (max-width: 850px) {
  .top-bar {
    display: none;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* padding: 1rem 6rem ; */
    padding-bottom: 2rem;
    padding-left: 8rem;
  }
  .logo {
    max-width: 5rem;
    height: auto;
    margin-top: .3rem;
    margin-bottom: .4rem;
  }
  .btn {
    top: 40px;
  }
  .services .outer-box .info-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mid .mid-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mid .mid-info .left {
    display: none;
  }
  .mid .mid-info iframe {
    padding-bottom: 2rem;
  }
  .mid .mid-info .mid-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 1rem;
    margin-left: 0;
    width: 100%;
  }
  .mid .mid-info .mid-contact .mid-contact-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .mid .mid-info .right .right-container .box .inner-box ul {
    width: 100%;
  }
  .mid .outer-box .info-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mid .outer-box .info-blocks .block {
    padding-left: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2rem;
  }
  .mid .outer-box .info-blocks .block p {
    text-align: center;
    display: block;
    width: 300px;
    font-size: 1rem;
  }
  .mid .outer-box .info-blocks .block .block-img {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-bottom: 2rem;
    padding: 2rem;
  }
  .header .left p {
    display: none;
  }
  .btn {
    top: 30px;
    right: 15px;
  }
  .btn.click {
    top: 30px;
    right: 15px;
  }
  .top-img .top-txt {
    left: 5%;
  }
  .mid .mid-info .right .right-container .box .inner-box ul {
    width: 100%;
  }
  .mid .mid-info .mid-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }
  .mid, .services {
    padding-left: 5%;
    padding-right: 5%;
  }
  .mid .outer-box .info-blocks .block {
    padding-left: 0;
    max-width: 100%;
  }
  .services .outer-box .info-blocks, .services .outer-box .info-blocks .block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .footer {
    padding: 6% 8% 4% 8%;
    height: 400px;
  }
  .footer .outer-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .outer-box .info-footer, .footer .outer-box .location-footer {
    margin: 2rem 0;
    width: 100%;
    padding: 0;
  }
  .bottom-foot {
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .desk-menu {
    padding-left: 2%;
    padding-right: 2%;
  }
  .mid .outer-box .info-blocks .block .block-img {
    width: 280px;
  }
  .logo-txt {
    font-size: 1.3rem;
  }
  .services .outer-box .info-blocks .block p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */